section > p {
  margin: 0;
  padding: 0 0 0 15px;
  color: #000;
  background-color: #fff;
  font-size: x-large;
}

.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(190deg, #d558c8, #24d292);
}

.container-item-col4,
.container-item-col2,
.container-item-col6 {
  height: 150px;
  margin: 10px; /* 左右で10pxづつ設けているため、 flexの際に邪魔になる*/
  color: #fff;
  background-color: #333;
  border-style: solid;
  border-radius: 15px;
  border-color: #ff06ff;
  border-width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  /* box-sizing: border-box; */
}

.container-item-col4 {
  list-style: none;
  /* 横4 × 縦4のグリッドに対応するためにmargin 10pxの左右分だけ修正
   box-sizing: border-boxが上手く使えないため、代替案*/
  flex: 0 0 calc(25% - 20px);
}

.container-item-col2 {
  flex: 0 0 calc(50% - 20px);
}

.container-item-col6 {
  flex: auto;
}

.login-form {
  background-color: #3b3b3b;
  color: #fff;
  height: 460px;
}

h1,
.login-table {
  padding-left: 15px;
}

.login-email,
.login-password,
.login-button {
  padding: 15px;
  min-width: 500px;
  border-radius: 10px;
  border: 2.5px solid #131d2d00;
  background-color: #c9d1d9;
  cursor: pointer;
}

.login-button {
  margin-top: 32px;
  display: block;
  background-color: #0761f1;
  color: #fff;
}

.login-link {
  text-decoration: none;
  color: #0761f1;
}
